@model Models.User.VMLogin
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style>
        .background {
            background: #f2f2f2; /* Set your background color or image */
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Adjust as needed */
        }
    </style>
        <meta charset="utf-8" />
        <title>@ViewData["Title"] - Todo App</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    
</head>
<body>
    <div class="background"> 
    <form asp-controller="Access" class="shadow-lg px-5 py-4 rounded-5 bg-dark-subtle" asp-action="Login" method="post">
        
        <div class=" p-3 mt-4">
            <div class="row pb-2">
                <h2 class="text-primary">Login Page</h2>
                <hr />
            </div>

            <div class="mb-3 row p-1">
                <label asp-for="Email" class="pb-4"></label>
                <input type="email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="PassWord" class="pb-4"></label>
                <input type="password" asp-for="PassWord" class="form-control" />
                <span asp-validation-for="PassWord" class="text-danger"></span>
            </div>

          

            <div class="row flex-row px-5 ">
                <div class="col-6 col-md-3 mx-5 ">
                    <button type="submit" class="btn btn-primary px-5 rounded-2  ">Login</button>
                </div>
                    <div class="col-6 col-md-3 ">
                        <a asp-controller="Access" asp-action="Register" class="btn btn-warning px-5 rounded-2">Register</a>
                </div>
               
            </div>


        </div>

        @if (ViewData["ValidateMessage"] != null)
        {
            <br />
            <br />
            <label>@ViewData["ValidateMessage"]</label>
        }

    </form>
    </div>
    <footer style="position: fixed; bottom: 0; left:auto; width: 100%;" class="border-top footer bg-primary text-muted text-center py-3 text-white">
        <div class="container">
            &copy; 2023 -Todo Net <i class="bi-bag"></i> - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
   
</body>

</html>
